Body{
    display:flex;
    font-family: arial;
    background-color: #ffffff;
    /*overflow:hidden*/
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
    }

#palette [data-atom] {
    margin: 2px;
}
#help-link{
    background-color:whitesmoke;
    margin:3px;
}
.title{
   	flex-shrink:0;
}
button>.ui-icon {
 display:inline-block;
}

/*#palette, #canvas{ border: 1px solid #C9C9C9; }*/

#fileToLoad{visibility:hidden;}
#create, #help {
border: 1px solid #000000;
}

#help-link{
    border-radius: 8px;
    border-width: 1;
    background-color: whitesmoke;
}

#palette, #settings{
    background-color:#ffffff;
    overflow-x:hidden;
    overflow-y:scroll;
    border: 1px solid #c3c3c3;
    border-radius: 15px;
}
#settings{
    min-height:90px;
    flex-direction:column;
}
#visSetup{
    flex-direction: column;
}
#palette.hidden{
    display:none;
}
/*#canvasRole{height:820px;flex-grow: 1;}
*/

#canvasRole{
  flex-grow: 1;
  overflow-y:auto;
  margin: 0px;
  padding: 15px;
  height: 90vh;
  }


#canvasRole.debug{
    background-color: rgb(255, 234, 251);
    border-color: pink;
    border-width: 3px;
    }

#canvas, #canvas>.secondMember, #canvasAnd {
    flex-grow: 1;/*eccezione: deve occupare tutto il container, non adattarsi al contenuto*/
    }
    
#canvasAnd{
	border:none;
}




.DefButtonOn{
	opacity: 1;
}

.hide {
    display:none;
}

::-webkit-scrollbar {
    width: 22px;
    height: 18px;
}
::-webkit-scrollbar-thumb {
    height: 6px;
    border: 8px solid rgba(165, 187, 82, 0);
    background-clip: padding-box;
    -webkit-border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}

#palette{
  flex-direction:  column;
  right: 0;
  padding: 0px;
  z-index: 100;
  position: absolute;
  height: 96vh;
  background: #f9f9f9;
  opacity: 0.75;
  border-left: 20px solid transparent;
  /*width: 100px;*/
  transition: width 0.5s cubic-bezier(.3,.65,.44,1), padding 0.25s ease-in-out, background 0.65s ease, opacity 0.25s ease;
  transition-delay: 0.35s;
}


#palette:hover {
  position: fixed;

  padding: 0px;
  width: 200px;
  opacity: 1;
  transition: inherit inherit inherit;
  transition-delay: 0s;
}

#palette:not(:hover) {
  width: 2px;  
}