/*
::before is used for infix notation 
:: after is used for all the tags
In this way infix and tag can exist at the same time
*/

/***********   Infix Notation   *********/


[data-atom=plus]>[class*="role"]>[data-atom]:not(:first-of-type),
[data-atom=leq]>.ol_role>[data-atom]:not(:first-of-type),
[data-atom=lt]>.ol_role>[data-atom]:not(:first-of-type)
{
	margin-left: 11px;/*space for infix symbol*/
}
[data-atom=plus].resizable>[class*="role"]>[data-atom]/*:not(.sortable-drag)*/{
	margin: 4px;
}
body.hidePlus [data-atom=plus]>[class*="role"]>[data-atom]::before{
	color:transparent;	
}
body[timesdisposition=brTimes] br + [data-atom]::before{
	background-color:transparent!important;	
}

[data-atom=plus]>[class*="role"]>[data-atom]:not(:first-of-type):not(.resizable)::before,
[data-atom=leq]>.ol_role>[data-atom]:not(:first-of-type):not(.resizable)::before,
[data-atom=lt]>.ol_role>[data-atom]:not(:first-of-type):not(.resizable)::before {
	/* background-color: red; */
	position: absolute;
	content: "+";/*&#x2264; for leq*/
	left: -11.6px;
	pointer-events: none;
}
[data-atom=leq]>.ol_role>[data-atom]:not(:first-of-type)::before {
	content:'\2264'!important;/*https://www.evotech.net/articles/testjsentities.html*/
}
[data-atom=lt]>.ol_role>[data-atom]:not(:first-of-type)::before {
	content: '<'!important;
}

[data-atom=times]>.ul_role>[data-atom]:not(:first-of-type)::before {
	background-color: black;
	position: absolute;
	content:"";
	left: -3px;
	width: 3.5px;
	height: 3.5px;
	z-index: 1;
	border-radius: 3px;
	top: calc(50% - 1.75px);
}
[data-atom=times]>.ul_role>[data-atom]:not(:first-of-type)/*:not(.sortable-drag)*/{
	margin-left: 0.5px; /*space for infix symbol*/
}

[timesdisposition=vertTimes] [data-atom=times]>.ul_role>[data-atom]:not(:first-of-type)/*:not(.sortable-drag)*/{
	margin-top: 0.5px; /*space for infix symbol*/
}

[timesdisposition=vertTimes] [data-atom=times]>.ul_role>[data-atom]:not(:first-of-type)/*:not(.sortable-drag)*/::before {
	top:-3px;
	left:calc(50% - 1.75px);
	pointer-events: none;
}


.sortable-drag::before{/*if before is removed you get a flickering, so it is just hidden*/
	visibility:hidden;
}



/*
using ::before and ::after for prefix and postfix notation does not offer advantages
disadvantage: mixfix notation needs a different approach
disadvantage: building new prototypes is less intuitive


[data-atom="and"]:not(#telaAnd):not(.sortable-ghost)::before{
	content:"";
	position: absolute;
	left: 2px;
	background-image: url(../images/GullBraceLeft.svg);
	background-color:red;
	width:17px;
	height:90%;
	background-size: contain;
	background-repeat: no-repeat;
}
[data-atom="deftrue"]::before{
	content:attr(data-decoration);
	position: absolute;
	left: -200px;
	background-image: url(../images/GullBraceLeft.svg);
	background-color:red;
	width:17px;
	height:90%;
	background-size: contain;
	background-repeat: no-repeat;
}
*/

/***********   Tags   ***********/

[data-tag]:not(.collapsed)::after{
	position: absolute;
	bottom: 95%;
	right: 60%;
	box-shadow: 2px 3px 5px 0px grey;
}

/*[data-tag]::after{
	content:attr(data-tag);*/
[data-tag]::after/*,[title]:not([title=""]):hover::after*/{
	content:attr(data-tag)attr(title);
	z-index: 1;
	background-image: inherit;
	background-color: white;
	/* width: 40px;*/
	min-height:25px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center left;
	padding-right:2px;
	border: 1px solid gray;
	border-radius: 8px;
	border-bottom-right-radius: 0px;
	/*position: absolute;
	bottom: 95%;
	right: 60%;
	box-shadow: 2px 3px 5px 0px grey;*/
}
[data-tag][data-tagimg]::after{
	padding-left: 45px;
}

[data-tag]:not(.collapsed){
 background-position:-9999px -9999px;
 background-repeat: no-repeat;
}


.collapsed[data-tag]>*{
	display:none;
}
.collapsed[data-tag]{
	/*width:20px;*/
	height: 20px;
	border-width:0px;
	align-self: center!important;
}

.collapsed[data-tag]:not([data-tagimg])::after{
	background:white;
	padding-left:0px;
}
.collapsed[data-tag][data-tagimg]::after{
	font-size:0px;
}
[data-atom="and"].medium>.ul_role{
	padding:2px!important;
}


.selected::after {
	pointer-events: none;
	content: "";
    /*
    CSS 2.1; will remove quotes if supported, and override the above.
    User-agents that don't understand "none" should ignore it, and
    keep the above value. This is here for future compatibility,
    though I'm not 100% convinced that it's a good idea...
    */
    content: none;
	background-color: #7b032aad;
	position: absolute;
	width: 100%;
	height: 100%;
}
