.fraction>.ul_role{
	/* display: flow-root; */
	flex-direction: column;
	min-height:55px!important;
	/* align-content: center; */
}


.fraction>.ul_role>.infix
{
	display:none;
}

.fraction>.ul_role>.protox{
	display:block!important;
	height:20px
}
body[tool=autoAdapt] .sortable-ghost{
	visibility: hidden;
}
.sortable-ghost.showAsPlaceholder {
	background-color: var(--default-bgcolor);/*default background*/
	border-color:transparent!important;
	color:transparent!important;
	background-image: none!important;
	z-index:0;
}

.sortable-ghost.showAsPlaceholder[data-type=num]{
	background-color:var(--num-bgcolor);
}
.sortable-ghost.showAsPlaceholder[data-type=bool][data-atom]{
	background-color:var(--bool-bgcolor);
}
[data-atom=or]>.ul_role>.sortable-ghost.showAsPlaceholder{
	visibility:hidden;
}


.sortable-ghost.showAsPlaceholder > * {
	visibility: hidden!important;
}


f_role{
	position: absolute;
	visibility: hidden;
	height: 100%;
	width: 100%;
}


