/*forAll hack: inside a forall all variables names must be 1 char lenght!
[data-atom=forAll] .name{
	font-size:0px;
	display:block;
}
[data-atom=forAll] .name::first-letter{
	font-size:16px;
}*/
body.eforall [data-atom=forAll]>.row>.forAllHeader{
	display:none;
}
body.eforall [data-atom=forAll]>.row>.forallSymbol{
	top: -0.7px;
	left: 8px;
	height: 6px;
	width: 8px;
	position: absolute;
	z-index:2;
	font-size:0px;
	background-image: url(../images/triangleDownward.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	/*display:none!important;*/
}




[data-atom=and].medium>*{
	flex-direction:row!important;
	border-width:0px!important;
}

[data-atom]:not(.expanded)>*>.emb{
	min-width:45px;
	font-size: 0px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	border-width:0px;
}

[data-atom].expanded>*>.emb{
	width:40px;
	/* padding-left:45px!important; */
	background-repeat: no-repeat;
	background-position: center center;
	background-size:contain;
}
.ftimes {
  display: flex;
  flex-direction: row;  
  align-items: center;
}
.ftimes {
  /*colori*/
  background-color: #000000;
}
.yellow {
  /*colori*/
  background-color: yellow;
}


.ftimes,[data-atom="and"] >[class*="_role"]{
	flex-direction: column;	
}


.fci {
  /*colori*/
  background-color: red;
}

[title="system"]{
	background-image: url(../images/SistemaDiEq1.png);
	background-size: cover;
}
[title="system"] *{
	opacity:0.3
}

#myDiv {
	border: 1px black solid;
}


.label {
   position: absolute;
   top: -8px;
   left: -7px;
   font-size: xx-small;
   pointer-events: none;
}

.test>.background{
	background-color: blue!important;
}
.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
/*#telaRole *:not(.selected) {
 	    -webkit-filter: grayscale(25%);
       -moz-filter: grayscale(25%);
         -o-filter: grayscale(25%);
        -ms-filter: grayscale(25%);
            filter: grayscale(25%);
     
}*/

/*[data-atom="m_inverse"]>.s_role[data-type="num"]{
    border-style:solid;
    border-width:10 0 0 0px;
    border-image:url(../images/EgyptNumbers.svg) 100 0 stretch;
    padding-left:0.5em;
}
*/
/* notazione "antico egitto" egypt
.m_inversedecoration{
	height: 10px;
	padding:0px;
	background-color: #645ca000;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	background-image:url(../images/FractEgyptian.svg);
	background-repeat: no-repeat;
	/*display:none;*/
}


