body{
	display:flex;
	margin:0px;
}
div.ide{
	display:flex;
	border-style: solid;
	/*border-color:#0b0b0b;*/
	border-width: 1px;
	border-radius:5px;
	/* background-color:white; */
}
#centralColumn{
	flex-grow: 1;
	margin-left:10px;
	margin-right:10px;
}
#rightColumn:not(:hover):not(.fixed),#leftColumn:not(:hover):not(.fixed) {
	width: 20px;
	opacity:0;
	border-width:0px;
	z-index:1;
}
#leftColumn,#rightColumn{
	width: 200px;
	transition: width 0.5s cubic-bezier(.3,.65,.44,1), padding 0.25s ease-in-out, background 0.65s ease, opacity 0.25s ease;
	transition-delay: 0.15s;
	z-index:2;
}
#leftColumn:not(.fixed),#rightColumn:not(.fixed),#tavolozza:not(.fixed){
	position:absolute;
}

#rightColumn{
	right:0px;
}
#leftColumn{
	left:0px;
}

#tavolozza:not(:hover):not(.fixed){
	height:10px;
	z-index:1;
	opacity:0;
}
#tavolozza:not(:hover):not(.fixed) *{
	display:none;
}

#tavolozza{
	height:100px;
	transition: height 0.5s cubic-bezier(.3,.65,.44,1), padding 0.25s ease-in-out, background 0.65s ease, opacity 0.25s ease;
	transition-delay: 0.15s;
	z-index:2;
}
#tavolozza:not(.fixed){
	left:10px;
	right:10px;
}
.fixed{
	position:relative;
}

#tela{
	flex-grow:1;
	margin-top:5px;
}
.column{
	flex-direction: column;
	height: 99vh;
	/*border-color:red;*/
	border-width:0px;
}
#tavolozza,#leftContent,#settings{
	background-color:white;
}

#leftContent,#settings{
	flex-grow:1;
}

.fixButton{
	position:absolute;
	right: 0px;
	top: 5px;
}