body{
	display:flex;
	margin:0px;
	overflow:hidden;

}
div.ide{
	border-width: 1px;
	border-radius:5px;
	background-color:white;
	border: 1px solid #c3c3c3;
	border-radius: 15px;
}

#tavolozza, #settings {
	overflow-y: hidden;
	overflow-x: auto;
}
#centralColumn{
	flex-grow: 1;
	margin-left: 10px;
	margin-right:10px;
	width:100px;/*??? senza di questo la colonna centrale si espande
	a seconda del contenuto*/
}
#rightColumn:not(:hover):not(.fixed),#leftColumn:not(:hover):not(.fixed) {
	width: 20px;
	opacity:0;
	border-width:0px;
	z-index:1;
}
#leftColumn:not(:hover):not(.fixed){
	margin-top: 150px;
}

#leftColumn,#rightColumn{
	
	transition: width 0.5s cubic-bezier(.3,.65,.44,1), padding 0.25s ease-in-out, background 0.65s ease, opacity 0.25s ease;
	transition-delay: 0.15s;
	z-index:2;
}
#leftColumn:not(.fixed),#rightColumn:not(.fixed),#tavolozzaRow:not(.fixed){
	position:absolute;
}

#rightColumn{
	right:0px;
	width: 95px;
}
#leftColumn{
	overflow: auto;
	/* width: 95px; */
	left:0px;
	/* align-items: end; */
}

#tavolozzaRow:not(:hover):not(.fixed){
	height:10px;
	z-index:1;
	opacity:0;
		margin-left: 50px;
}
#tavolozzaRow:not(:hover):not(.fixed) *{
	display:none;
}

#tavolozzaRow{
	flex-direction:column;
	transition: height 0.5s cubic-bezier(.3,.65,.44,1), padding 0.25s ease-in-out, background 0.65s ease, opacity 0.25s ease;
	transition-delay: 0.15s;
	z-index:2;
}

#tavolozza{
	padding-left:10px;
	}


#tavolozza>*{
	margin:2px;
}
#tavolozzaRow:not(.fixed){
	left:10px;
	right:10px;
}
.fixed{
	position:relative;
}

#tela{
	flex-grow:1;
	margin-top:5px;
}
.columnSection{
	flex-direction: column;
	height: 99vh;
	/*border-color:red;*/
	border-width:0px;
}
#tavolozza,#leftContent,#settings{
	background-color:white;
}

#leftContent{flex-direction: column;align-items: center;}

#result{
		justify-content: center;
}
#leftContent,#settings{
	/* flex-grow:1; */
}

.fixButton{
	position:absolute;
	right: 0px;
	top: 5px;
	z-index:2;
}

select,input{
	max-width:93px!important;
}
body:not(.gameMode) #result{
	display:none;
} 
body.gameModeSurpriseRes #result *{
  visibility: hidden;
  pointer-events:none;
} 
body.gameModeSurpriseRes #result{
  min-width:3px;
   background-image: url(../images/questionMarke.png);
	background-position: center center;
	 background-repeat: no-repeat;
	 background-size: contain;
}


#telaRole>[data-atom]:first-child{
	margin-bottom:25px;
}
