Body {
	display: flex;
	font-family: arial;
	background-color: #ffffff;
	/*overflow:hidden*/
	user-select: none;
	/* supported by Chrome and Opera */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
}

#help-link {
	background-color: whitesmoke;
	margin: 3px;
}

.title {
	flex-shrink: 0;
}

button>.ui-icon {
	display: inline-block;
}

#fileToLoad {
	visibility: hidden;
}

#create, #help {
	border: 1px solid #000000;
}

#help-link {
	border-radius: 8px;
	border-width: 1;
	background-color: whitesmoke;
}

#tavolozzaRow {
	/* overflow-x: hidden; */
}



#settings {
	flex-direction: column;
}

#visSetup {
	flex-direction: column;
}

#canvasRole {
	flex-grow: 1;
	overflow-y: auto;
	margin: 0px;
	padding: 15px;
}

#canvasRole.debug {
	background-color: rgb(255, 234, 251);
	border-color: pink;
	border-width: 3px;
}

#canvas, #canvas>.secondMember, #canvasAnd {
	flex-grow: 1;
	/*eccezione: deve occupare tutto il container, non adattarsi al contenuto*/
}

#canvasAnd {
	border: none;
}

.DefButtonOn {
	opacity: 1;
}

.hide {
	display: none;
}

::-webkit-scrollbar {
	width: 22px;
	height: 18px;
}

::-webkit-scrollbar-thumb {
	height: 6px;
	border: 8px solid rgba(165, 187, 82, 0);
	background-clip: padding-box;
	-webkit-border-radius: 12px;
	background-color: rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-button {
	width: 0;
	height: 0;
	display: none;
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}
